In [1]:
a=[1,2,3,4,5]

In [2]:
合計/データ数

NameError: name '合計' is not defined

In [3]:
合計=順番に足した結果

NameError: name '順番に足した結果' is not defined

In [36]:
s=0

s = s+1
s = s+2
s = s+3
s = s+4
s = s+5

s

15

In [7]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リスクaの各要素をpと呼び、pをprintする。

In [14]:
a=[1,2,3,4,5]

for p in a:
    print('hello')
    print('wrold')

hello
wrold
hello
wrold
hello
wrold
hello
wrold
hello
wrold

In [11]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [13]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for yabuki in list_tohoku:
    print(yabuki)

5349
5478
5344
4644
4968
6259

In [37]:
a

[1, 2, 3, 4, 5]

In [46]:
s=0

for ｘ in a:
    s=s+ｘ

s/len(a)

3.0

In [32]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [49]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [51]:
from statistics import *

In [52]:
mean(list_shikoku)

2890.5

In [53]:
mean([1,2,3,4,5])

3

In [54]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [55]:
dic={'A':100,'B':20,'C':3000}

In [56]:
dic['A']

100

In [57]:
for key in dic:
    print(key)

A
B
C

In [58]:
for x in dic:
    print(x)

A
B
C

In [61]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [65]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [67]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1. [5,4,3,2]の平均
2. {'A':10,'B':100,'C':1000}の値の平均
3. {10:'A',100:'B',1000:'C'}のキーの平均

In [69]:
a=[5,4,3,2]
s=0

for x in a:
    s+= x
    
s/len(a)

3.5

In [70]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s+= a[x]
    
s/len(a)

370.0

In [72]:
mean(a.values())

370

In [73]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0

In [75]:
a={10:'A',100:'B',1000:'C'}
s=0

for x in a:
    s+= x
    
s/len(a)

370.0